@import play.api.data.Form
@import play.api.i18n.Messages
@import play.api.mvc.RequestHeader
@import controllers.AssetsFinder
@import forms.SignUpForm.Data

@this()(implicit  assets: AssetsFinder)
@(signUpForm: Form[Data])(implicit request: RequestHeader, messages: Messages)

@main(messages("sign.up.title")) {



<!-- ===============================================-->
<!--    Main Content-->
<!-- ===============================================-->
<main class="main" id="top">
    <div class="container-fluid">
        <div class="row min-vh-100 flex-center g-0">
            <div class="col-lg-8 col-xxl-5 py-3 position-relative"><img class="bg-auth-circle-shape" src="@assets.path("assets/img/icons/spot-illustrations/bg-shape.png")" alt="" width="250"><img class="bg-auth-circle-shape-2" src="@assets.path("assets/img/icons/spot-illustrations/shape-1.png")" alt="" width="150">

                @request.flash.get("error").map { msg =>
                <div class="alert alert-warning border-2 d-flex align-items-center" role="alert">
                    <div class="bg-warning me-3 icon-item"><span class="fas fa-exclamation-circle text-white fs-3"></span></div>
                    <p class="mb-0 flex-1">@msg</p>
                    <button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                }

                @request.flash.get("info").map { msg =>
                <div class="alert alert-info border-2 d-flex align-items-center" role="alert">
                    <div class="bg-info me-3 icon-item"><span class="fas fa-info-circle text-white fs-3"></span></div>
                    <p class="mb-0 flex-1">@msg</p>
                    <button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                }

                <div class="card overflow-hidden z-index-1">
                    <div class="card-body p-0">
                        <div class="row g-0 h-100">
                            <div class="col-md-5 text-center bg-card-gradient">
                                <div class="position-relative p-4 pt-md-5 pb-md-7 light">
                                    <div class="bg-holder bg-auth-card-shape" style="background-image:url(../../../assets/img/icons/spot-illustrations/half-circle.png);">
                                    </div>
                                    <!--/.bg-holder-->

                                    <div class="z-index-1 position-relative"><a class="link-light mb-4 font-sans-serif fs-4 d-inline-block fw-bolder" href="@controllers.routes.ApplicationController.index">malabar.online</a>
                                        <p class="opacity-75 text-white">With the power of Falcon, you can now focus only on functionaries for your digital products, while leaving the UI design on us!</p>
                                    </div>
                                </div>
                                <div class="mt-3 mb-4 mt-md-4 mb-md-5 light">
                                    <p class="pt-3 text-white">Have an account?<br><a class="btn btn-outline-light mt-2 px-4" href="@controllers.routes.SignInController.view">Log In</a></p>
                                </div>
                            </div>
                            <div class="col-md-7 d-flex flex-center">
                                <div class="p-4 p-md-5 flex-grow-1">
                                    <h3>Register</h3>
                                    @helper.form(action = controllers.routes.SignUpController.submit) {
                                    @helper.CSRF.formField
                                        <div class="mb-3">
                                            <label class="form-label" for="card-name">Name</label>
                                            @for(error <- signUpForm("name").errors) {
                                            <span class="badge badge-soft-warning">@error.format(messages)</span>
                                            }
                                            <input class="form-control" name="name" type="text" autocomplete="on" id="card-name" />
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label" for="card-email">Email address</label>
                                            @for(error <- signUpForm("email").errors) {
                                            <span class="badge badge-soft-warning">@error.format(messages)</span>
                                            }
                                            <input class="form-control" type="email" name="email" autocomplete="on" id="card-email" />
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label" for="card-password">Password</label>
                                            @for(error <- signUpForm("password").errors) {
                                            <span class="badge badge-soft-warning">@error.format(messages)</span>
                                            }
                                            <input class="form-control" type="password" name="password" autocomplete="on" id="card-password" />
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="card-register-checkbox" />
                                            <label class="form-label" for="card-register-checkbox">I accept the <a href="#!">terms </a>and <a href="#!">privacy policy</a></label>
                                        </div>
                                        <div class="mb-3">
                                            <button class="btn btn-primary d-block w-100 mt-3" type="submit" name="submit">Register</button>
                                        </div>
                                    }
                                    <div class="position-relative mt-4">
                                        <hr class="bg-300" />
                                        <div class="divider-content-center">or register with</div>
                                    </div>
                                    <div class="row g-2 mt-2">
                                        <div class="col-sm-6"><a class="btn btn-outline-google-plus btn-sm d-block w-100" href="@controllers.routes.SocialAuthController.authenticate("google")"><span class="fab fa-google-plus-g me-2" data-fa-transform="grow-8"></span> google</a></div>
                                        <div class="col-sm-6"><a class="btn btn-outline-facebook btn-sm d-block w-100" href="@controllers.routes.SocialAuthController.authenticate("facebook")"><span class="fab fa-facebook-square me-2" data-fa-transform="grow-8"></span> facebook</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<!-- ===============================================-->
<!--    End of Main Content-->
<!-- ===============================================-->




    <fieldset class="col-md-6 col-md-offset-3">
        <legend>@messages("sign.up.account")</legend>
        @helper.form(action = controllers.routes.SignUpController.submit) {
            @helper.CSRF.formField
            @@b4.text(signUpForm("firstName"), Symbol("_hiddenLabel") -> messages("first.name"), Symbol("placeholder") -> messages("first.name"), Symbol("class") -> "form-control input-lg")
            @@b4.text(signUpForm("lastName"), Symbol("_hiddenLabel") -> messages("last.name"), Symbol("placeholder") -> messages("last.name"), Symbol("class") -> "form-control input-lg")
            @@b4.text(signUpForm("email"), Symbol("_hiddenLabel") -> messages("email"), Symbol("placeholder") -> messages("email"), Symbol("class") -> "form-control input-lg")
            @passwordStrength(signUpForm("password"), Symbol("_hiddenLabel") -> messages("password"), Symbol("placeholder") -> messages("password"), Symbol("class") -> "form-control input-lg")
            <div class="form-group">
                <div>
                    <button id="submit" type="submit" value="submit" class="btn btn-lg btn-primary btn-block">@messages("sign.up")</button>
                </div>
            </div>
            <div class="sign-in-now">
                <p>@messages("already.a.member") <a href="@controllers.routes.SignInController.view">@messages("sign.in.now")</a></p>
            </div>
        }
    </fieldset>
}
